*.aux
*.bbl
*.blg
*.log
*.pdf
*.png
__pycache__/
*.py[cod]
#This is automatically made when a program is imported in python 
.RData
.Rhistory
results/
!results/.gitkeep
.ipynb_checkpoints/
plots/
!plots/.gitkeep
*.docx
